<!DOCTYPE html>
<html>
  <head>
    <title>Railbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <p> <%= link_to 'トップページに戻る', '/' %></p>
    <p> <%= link_to '島根県立出雲商業高等学校', 'http://www.shimanet.ed.jp/izusho' %> </p>
  </body>
</html>
